page-login {

}

p {
  text-align: center;
}
h1 {
  text-align: center;
}

#logo {
  align-items: center;
  display: block;
  width: auto;
  height: auto;
}

  #button {
    padding: 1em;
    width: 35%;
    height: 35%;
    display: inline-block;
    margin-top: 0.5em;
    margin-right: 7%;
    margin-left: 7%;
    text-align: center;
  }

  #buscar {
    padding: 1.2em;

  }



